<div class="row">
    <div class="col-md-2">&nbsp;</div>

    <div class="col-md-8">
        <div class="card" id="listaPessoas">
            <div class="card-header" style="text-align: center">
                <h3 class="panel-title">Pessoas cadastradas</h3>
            </div>
            <div class="card-body">
                <div class="row">
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-center">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Email</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Excluir</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let p of pessoas">
                                <th scope="row">{{p.id}}</th>
                                <td>{{p.nome}}</td>
                                <td>{{p.email}}</td>
                                <td>
                                    <a [routerLink]="'pessoa/' + p.id">
                                        <button class="btn btn-info">Editar
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    <button (click)="excluir(p.id)" class="btn btn-danger">Excluir</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <a routerLink="cadastrar" class="btn btn-success">Cadastrar</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-2">&nbsp;</div>
</div>
